body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
    color: #333;
}

/* HEADER */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: white;
    border-bottom: 4px solid #e57373;
    position: sticky;
    top: 0;
    z-index: 1000;
}

header h1 {
    margin: 0;
    font-size: 20px;
    letter-spacing: 2px;
}

nav a {
    margin-left: 30px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    position: relative;
}

nav a:hover {
    color: #e57373;
}

/* SECTION */
.section {
    display: flex;
    align-items: center;
    padding: 60px 40px;
    background: white;
    margin-bottom: 10px;
}

.text {
    flex: 1;
    padding: 20px;
}

.text h2 {
    color: #e57373;
}

/* ABOUT */
#about {
    padding: 80px 40px;
    background: #222;
    color: white;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 900px) {
    .section {
    flex-direction: column !important;
    }

    nav a {
    margin-left: 15px;
    }
}

.project-main {
    display: grid;
    grid-template-columns: 70% 30%;
    align-items: start;
}

.project-hero {
    position: sticky;
    top: 80px;
    aspect-ratio: 2.25 / 1;
    overflow: hidden;
    align-self: start;
}

.project-hero img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.05);
}

.project-info {
    padding: 60px;
    background: white;
}

.gallery {
    display: flex;
    height: 220px;
    overflow-x: auto;
    gap: 2px;
    background: #111;
}

.gallery img {
    flex: 1;
    min-width: 280px;
    object-fit: cover;
    cursor: pointer;
    transition: transform .3s;
}

.gallery img:hover {
    transform: scale(1.03);
}